.table-format {
    background: #80ccff;
    border: 1px solid black;
    padding-left: 15px;
    padding-right: 15px;
    font-family: arial;
}

.markdown-section hr {
height: 1px;
padding: 0;
margin-top: 0.5em;
overflow: hidden;
background-color: black;
border: none;
}

.table-format1 {
    background: #c2f0c2;
    border: 1px solid black;
    padding-left: 15px;
    padding-right: 15px;
}

table-format2 {
    background: #FFFFFF;
}
.table-input{
    border: 0px;
    width: 10px;
    height: 10px;
}
.red-color {
    background: #F08080;
}

.title {
    text-align: center;
}

.text {
    text-align: center;
    font-style: italic;
    font-weight: bold;
} 

.heading-cell1 td {
    background: #ffffff !important;
}

.table th.row1 {
    background: #ff9999 !important;
}

.heading-cell1 th.row2 {
    background: #ffcc66 !important;
}


.heading-cell tr:nth-child(1) {
    background: #3399ff;
}

.heading-cell tr:nth-child(2) {
    background-color: 	#ffccd1 !important;
}

.heading-cell tr:nth-child(3) {
    background-color: 	#ffe6e6 !important;
}

.heading-cell tr:nth-child(4) {
    background-color: #f7f7ba !important;
}

.heading-cell tr:nth-child(5) {
    background-color: 	#e6fee6 !important;
}

.heading-cell tr:nth-child(6) {
    background-color: 	#E6E6FA !important;
}

.heading-cell tr:nth-child(7) {
    background-color: 	#D8BFD8 !important;
}

.text-wrapping1 {
    background: #fff5cc;
    border: 1px solid black;
    padding-left: 15px;
    padding-right: 15px;
}    
